<br> 
<br>
<%=form_for(@usuario) do |f| %>
  <form class="form-horizontal">
  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Cadastrar Novo Usuário</h3>
      </div>
  </div>
  <br> 

  <div class="panel-body">
      <div class="form-group">
          <label for="#" class="col-sm-2 control-label"><%= f.label :Nome %></label>
          
          <div class="col-sm-4">
              <%= f.text_field :nome, class:"form-control" %>
          </div>
      </div>

      <div class="form-group">
          <label class="col-sm-2 control-label"><%= f.label :Idade %></label>
          <div class="col-sm-2">
              <%= f.number_field :idade, class:"form-control" %>
          </div>
      </div>

      <div class="form-group">
          <label class="col-sm-2 control-label"><%= f.label :CPF %></label>
          <div class="col-sm-2">
              <%= f.text_field:cpf, 'data-mask': '000.000.000-00', class:"form-control" %>
          </div>
      </div>

      <div class="form-group">
          <label class="col-sm-2 control-label"><%= f.label :Gênero %></label>
          <div class="col-sm-2">
              <%= f.collection_select :genero_id, Genero.all, :id, :opcoesg, class:"form-control" %>  
          </div>
      </div>

      
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Salvar</button>
              <button type="button" class="btn btn-warning"><%= link_to "Voltar", usuarios_path%></button>
          </div>

      </div>
  </div>

</form>
<%end%>